{
    "name": "namespace/{{name}}",
    "description": "{{uname}}",
    "type": "library",
    "license": "MIT",
    "homepage": "https://github.com/example",
    "keywords": [
        "codeigniter",
        "framework",
        "orange"
    ],
    "authors": [
        {
            "name": "example name",
            "email": "example email"
        }
    ],
    "require": {
        "php": ">=5.5",
        "projectorangebox/orange": "dev-master"
    },
    "orange": {
        "version": "1.0.0",
        "type": "package",
        "priority": 50,
        "notes": "",
        "cli": {},
				"help": {
					"url": "www.apple.com",
					"link text": "Help",
					"text": "This is test"
				},
        "tables": "",
        "access": "",
        "menubar": "",
        "settings": "",
				"template variables": [
				]
    }
}