<?php
class {{controller}}Controller extends APP_AdminController {
	public $controller = '{{controller}}';
	public $controller_path = '/{{path}}';
	public $controller_model  = '{{model}}';
	public $controller_title = '{{single}}';
	public $controller_titles = '{{plural}}';
	public $has_access = '{{single}}::manage {{plural}}';

} /* end {{controller}} controller class */
